:root{
    --escala:20px;
    --left_horizontales: calc(var(--escala)* 0.8);
    --top-primera-fila: calc(var(--escala) * 2);
    --top-segunda-fila: calc(var(--escala) * 6);
    --left-primera-columna:calc(var(--escala) * -1);
    --right-segunda-columna:calc(var(--escala) * 0);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #55146E;
}

#container{
    display: flex;
    background-color: #488FBD;
    padding: 3rem;
    border-radius: 90px;
    animation-name: glow;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    
}

.numero{
    position: relative;
    height: calc(var(--escala) * 9);
    width: calc(var(--escala) * 6.25);
}

.on{
    fill: #964DB6;
    box-shadow: inset 0px 0px 15px 2px #488FBD;
    
}

.segmento{
    position: absolute;
    height: var(--escala);
    fill: rgba(255, 0, 0, 0);
}

.segmento:nth-child(1){ /* A */
    left: var(--left_horizontales);
}
.segmento:nth-child(2){ /* B */
    transform: rotate(90deg);
    right: var(--right-segunda-columna);
    top: var(--top-primera-fila);
}
.segmento:nth-child(3){ /* C */
    transform: rotate(90deg);
    right: var(--right-segunda-columna);
    top: var(--top-segunda-fila);
}
.segmento:nth-child(4){/* D */
    left: var(--left_horizontales);
    top: calc(var(--escala)*8);
}
.segmento:nth-child(5){/* E */
    transform: rotate(90deg);
    left: var(--left-primera-columna);
    top: var(--top-segunda-fila);

}
.segmento:nth-child(6){
    left: var(--left_horizontales);
    top: calc(var(--escala) * 4);
}
.segmento:nth-child(7){
    transform: rotate(90deg);
    left: var(--left-primera-columna);
    top: var(--top-primera-fila);
}

.doblepunto{
    position: relative;
height: var(--escala);
width: var(--escala);
}
.punto{
    position: absolute;
    background-color: #964DB6;
    border-radius: 5px;
    transform: rotate(45deg);
    height: var(--escala);
    width: var(--escala);
}

.punto:first-child{
    top: calc(var(--escala) * 2);
    left: calc(var(--escala)* -0.45);


}
.punto:last-child{
    top: calc(var(--escala) * 6);
    left: calc(var(--escala)* -0.45);
}

@keyframes glow{
    0%{
        box-shadow: inset 0px 0px 15px 2px rgb(255, 255, 255);
    }
    100%{
        box-shadow: inset 0px 0px 15px 2px rgb(36, 36, 36);
    }
}